:root {
    --textDefaultColor: #222222;
    --backgroundDefaultColor: #FAFAFA;
    --formSubmitActiveColor: #7e604c;
    --palerAccentColor: #C5B0A4;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--textDefaultColor);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem);
    overflow: hidden;
}

header {
    height: 2rem;
    line-height: 2rem;
    margin-bottom: .55rem;
    padding: .5rem;
    text-align: center;
    color: rgb(231, 69, 69);
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
}
main {
    background-color: var(--backgroundDefaultColor);
    width: 27rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

form {
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    flex-basis: 100%;
    padding: .3rem 0;
    text-align: left;
}

input,
#submit {
    font-family: 'Open sans', sans-serif;
    font-size: inherit;
    flex-basis: 100%;
    padding: .5rem;
    outline: none;
    background-color: var(--backgroundDefaultColor);
    color: var(--textDefaultColor);
    border: .1rem solid var(--textDefaultColor);
}

#submit {
    position: relative;
    cursor: pointer;
    margin-top: .55rem;
    background-color: transparent;
    transition: 0.5s all ease;
}

#submit:hover,
#submit:focus {
    color: var(--formSubmitActiveColor);
    border-color: var(--formSubmitActiveColor);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: var(--backgroundDefaultColor);
    }
    main {
        width: 100%;
        box-shadow: none;
    }
}