:root {
    --textDefaultColor: #222222;
    --backgroundDefaultColor: #FAFAFA;
    --formSubmitActiveColor: #7e604c;
    --palerAccentColor: #C5B0A4;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--textDefaultColor);
    overflow-x: hidden;
}

main {
    background-color: var(--backgroundDefaultColor);
    width: 27rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -80%);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

form {
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    flex-basis: 100%;
    padding: .3rem 0;
    text-align: left;
}

input,
#submit {
    font-family: 'Open sans', sans-serif;
    font-size: inherit;
    flex-basis: 100%;
    padding: .5rem;
    outline: none;
    background-color: var(--backgroundDefaultColor);
    color: var(--textDefaultColor);
    border: .1rem solid var(--textDefaultColor);
}

#submit {
    position: relative;
    cursor: pointer;
    margin-top: .55rem;
    background-color: transparent;
    transition: 0.5s all ease;
}

#submit:hover,
#submit:focus {
    color: var(--backgroundDefaultColor);
    border-color: var(--formSubmitActiveColor);
}

#submit::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--formSubmitActiveColor);
}

#submit:hover::before,
#submit:focus::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
